<template>
  <div class="container">
    <section  v-if="!$store.state.authUser">
        <h1>Awesome content</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere metus eget ipsum luctus, id accumsan eros dapibus. Sed non dolor est. Proin convallis imperdiet nibh id mattis. Duis gravida ornare est, at malesuada nisi luctus et. Curabitur imperdiet rutrum tortor a pretium. In consequat in ligula vitae pretium. Suspendisse mattis elit nec orci condimentum, at accumsan ligula cursus. Donec pharetra rhoncus ex ut sagittis. Praesent sem leo, fringilla vel venenatis in, semper nec ex. Cras a feugiat justo. Sed efficitur laoreet accumsan. Maecenas ultricies enim dui, sit amet vehicula lorem elementum id.</p>
        <p>You can <nuxt-link to="/singup">Register</nuxt-link> or <nuxt-link to="/login">Login</nuxt-link>. Even you can do it from NavBar(top right corner) </p>
        
    </section>
    <div v-else>
      Hello {{ $store.state.authUser.displayName }}!
      <p>Email: {{$store.state.authUser.email}} </p>
      <p>JWT Token: {{$store.state.authUser.token}} </p>
      <p>You can try to communicate with other users via<nuxt-link to="/chat"> chat</nuxt-link></p> 
    </div>    
  
  </div>
  
</template>

<script>
export default {
  layout: "default",
 // middleware: "notAuthenticated"
};
</script>

<style scoped>
p {
  word-wrap: break-word;
}
.container {
  padding: 100px;
}
.error {
  color: red;
}
</style>
