<template>
  <div class="container">
      <h1>Login page</h1>
      <form @submit.prevent="submit">
         <div class="form-group" :class="{ 'form-group--error': $v.form.email.$error }">
              <label class="form__label">Email</label>
              <input class="form__input" v-model.trim="$v.form.email.$model" type="text" />
          </div>
          <div class="error" v-if="!$v.form.email.required">Field is required.</div>
          <div class="error" v-if="!$v.form.email.email">Waiting for correct email...</div>  

          <div class="form-group" :class="{ 'form-group--error': $v.form.password.$error }">
              <label class="form__label">Password</label>
              <input class="form__input" v-model.trim="$v.form.password.$model" type="password" />
          </div>
          <div class="error" v-if="!$v.form.password.required">Field is required.</div>
          <div class="error" v-if="!$v.form.password.minLength">Field must have at least {{ $v.form.password.$params.minLength.min }} characters.</div>
         
           <b-button  type="submit" :disabled="this.$v.$invalid || form.submitStatus === 'PENDING'" variant="success" >Submit</b-button>
            
          <p class="typo__p" v-if="form.submitStatus === 'ERROR'">Please fill the form correctly.</p>
          <p class="typo__p" v-if="form.submitStatus === 'PENDING'">Sending your request...</p>
          <p class="typo__p" v-if="form.submitStatus === 'REQ_ERR'">Request err: {{this.form.requestErr}}</p>
      </form>
  </div>
</template>

<script>
import { required, minLength, email } from "vuelidate/lib/validators";
export default {
 middleware: "notAuthenticated",
  data() {
    return {
      form: {
        email: "",
        password: "",
        submitStatus: null,
        requestErr: null
      }
    };
  },
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(3)
      }
    }
  },
  methods: {
    async submit() {
      this.$nuxt.$loading.start();
      this.$v.$touch();

      // submit logic here
      try {
        this.form.submitStatus = "PENDING";

        await this.$store.dispatch("login", {
          email: this.form.email,
          password: this.form.password
        });
        // this.form.password='';
        // this.form.repeatPassword='';
        this.form.submitStatus = "OK";
        this.$nuxt.$loading.finish();
        this.$router.push("/");
      } catch (err) {
        this.$nuxt.$loading.fail();
        console.log("login err", err);
        this.form.submitStatus = "REQ_ERR";
        this.form.requestErr = err.message;
        this.$nuxt.$loading.finish();
      }
    }
  }
};
</script>

<style >
input {
  border: 1px solid silver;
  border-radius: 4px;
  background: white;
  padding: 5px 10px;
  display: block;
}

.dirty {
  border-color: #5a5;
  background: #efe;
}

.dirty:focus {
  outline-color: #8e8;
}

.error {
  /*border-color: red;*/
  color: #f99;
}

.error:focus {
  outline-color: #f99;
}
</style>