<template>
  <div class="container">
      <h1>Register page</h1>
      <form @submit.prevent="submit">
          <div class="form-group" :class="{ 'form-group--error': $v.form.displayName.$error }">
              <label class="form__label">Username</label>
              <input class="form__input" v-model.trim="$v.form.displayName.$model" />
          </div>
          <div class="error" v-if="!$v.form.displayName.required">Field is required.</div>
          <div class="error" v-if="!$v.form.displayName.minLength">Field must have at least {{ $v.form.displayName.$params.minLength.min }} characters.</div>

         <div class="form-group" :class="{ 'form-group--error': $v.form.email.$error }">
              <label class="form__label">Email</label>
              <input class="form__input" v-model.trim="$v.form.email.$model" type="text" />
          </div>
          <div class="error" v-if="!$v.form.email.required">Field is required.</div>
          <div class="error" v-if="!$v.form.email.email">Waiting for correct email...</div>  

          <div class="form-group" :class="{ 'form-group--error': $v.form.password.$error }">
              <label class="form__label">Password</label>
              <input class="form__input" v-model.trim="$v.form.password.$model" type="password" />
          </div>
          <div class="error" v-if="!$v.form.password.required">Field is required.</div>
          <div class="error" v-if="!$v.form.password.minLength">Field must have at least {{ $v.form.password.$params.minLength.min }} characters.</div>


            <div class="form-group" :class="{ 'form-group--error': $v.form.repeatPassword.$error }">
            <label class="form__label">Repeat password</label>
            <input class="form__input" v-model.trim="$v.form.repeatPassword.$model" type="password"/>
          </div>
          <div class="error" v-if="!$v.form.repeatPassword.sameAsPassword">Passwords must be identical.</div>

        <!--   <div class="form-group" :class="{ 'form-group--error': $v.form.$error }">
              <div class="error" v-if="$v.form.$error">Form is invalid.</div>
          </div> -->
          <b-button  type="submit" :disabled="this.$v.$invalid || form.submitStatus === 'PENDING'" variant="success" >Submit</b-button>
          
          <p class="typo__p" v-if="form.submitStatus === 'OK'">Sucessful registration! Now you can <nuxt-link to="/login">Login</nuxt-link></p>
          <p class="typo__p" v-if="form.submitStatus === 'ERROR'">Please fill the form correctly.</p>
          <p class="typo__p" v-if="form.submitStatus === 'PENDING'">Sending your request...</p>
           <p class="typo__p" v-if="form.submitStatus === 'REQ_ERR'">Request err: {{this.form.requestErr}}</p>
      </form>
  </div>
</template>

<script>
import { required, minLength, email, sameAs } from "vuelidate/lib/validators";
export default {
 middleware: "notAuthenticated",
  data() {
    return {
      form: {
        displayName: "",
        email: "",
        password: "",
        repeatPassword: "",
        submitStatus: null,
        requestErr: null
      }
    };
  },
  validations: {
    form: {
      displayName: {
        required,
        minLength: minLength(4)
      },
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(3)
      },
      repeatPassword: {
        required,
        sameAsPassword: sameAs("password")
      }
    }
  },
  methods: {
    // status(validation) {//!!! выключено, но пример красивый: https://jsfiddle.net/Frizi/b5v4faqf/
    // 	return {
    //   	error: validation.$error,
    //     dirty: validation.$dirty
    //   }
    // },
    async submit() {
      this.$v.$touch();

      // submit logic here
      try {
        this.form.submitStatus = "PENDING";

        await this.$store.dispatch("singup", {
          displayName: this.form.displayName,
          email: this.form.email,
          password: this.form.password
        });
        // this.form.password='';
        // this.form.repeatPassword='';
        this.form.submitStatus = "OK";
      } catch (err) {
        this.form.submitStatus = "REQ_ERR";
        this.form.requestErr = err.message;
      }
    }
  }
};
</script>

<style >
input {
  border: 1px solid silver;
  border-radius: 4px;
  background: white;
  padding: 5px 10px;
  display: block;
}

.dirty {
  border-color: #5a5;
  background: #efe;
}

.dirty:focus {
  outline-color: #8e8;
}

.error {
  /*border-color: red;*/
  color: #f99;
}

.error:focus {
  outline-color: #f99;
}
</style>
