<script>
import { mapGetters } from "vuex";
export default {
  computed: mapGetters({
    getCurSelectedChat: "chat/getCurSelectedChat",
    getChatMsgs: "chat/getChatMsgs"
  }),

  methods: {
    scrollToEnd() {
      this.$el.scrollTop = this.$el.scrollHeight - this.$el.clientHeight;
    }
  },
  updated() {
    this.scrollToEnd();
  }
};
</script>
<template>
<div class="messages">
    <ul>    
        <li v-for="message in getChatMsgs" :key="message.id">  
            <p class="time">
                <span>{{ new Date(message.createdAt).toGMTString()}}</span>
            </p>
            <div class="main" :class=" $store.state.authUser.id===message.author.id?'self':''">
                <img class="avatar" width="30" height="30" src="profile.png"/>
                <div class="text">{{ message.body }}</div>
            </div>
        </li>
    </ul>    
</div>
</template>


<style scoped>
.messages {
  padding: 10px 15px;
  overflow-y: scroll;
  height: 100%;
}
.messages li {
  margin-bottom: 15px;
  list-style-type: none;
}
.messages .time {
  margin: 7px 0;
  text-align: center;
}
.messages .time > span {
  display: inline-block;
  padding: 0 18px;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  background-color: #dcdcdc;
}
.messages .avatar {
  float: left;
  margin: 0 10px 0 0;
  border-radius: 3px;
}
.messages .text {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  max-width: calc(100% - 40px);
  min-height: 30px;
  line-height: 2.5;
  font-size: 12px;
  text-align: left;
  word-break: break-all;
  background-color: #fafafa;
  border-radius: 4px;
}
.messages .text:before {
  content: " ";
  position: absolute;
  top: 9px;
  right: 100%;
  border: 6px solid transparent;
  border-right-color: #fafafa;
}
.messages .self {
  text-align: right;
}
.messages .self .avatar {
  float: right;
  margin: 0 0 0 10px;
}
.messages .self .text {
  background-color: #b2e281;
}
.messages .self .text:before {
  right: inherit;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #b2e281;
}
</style>