//TODO take avatar from  user object :src="$store.state.authUser.avatarUrl"
<template>
<div class="sidebar"> 
        <div class="card">
        <header>
            <img class="avatar" width="40" height="40" :alt="$store.state.authUser.displayName"  src="testAvatar.png">
            <p class="name">{{ $store.state.authUser.displayName}}</p>
            <p class="name">{{ $store.state.authUser.email}}</p>
        </header>
        <footer>
            <input class="search" type="text" placeholder="search user..." @keyup="setSearchQuery" >
        </footer>
    </div>
    <div class="conversations-list">
        <ul v-if="searchField.length===0">        
           <li v-for="conversation in getConvsList" 
           :key="conversation.conversationId" 
           :class="{ active: conversation.conversationId === getCurSelectedChat }" 
           @click="selectConversation(conversation.conversationId)">
              <img class="avatar"  width="30" height="30" :alt="conversation.author.displayName" src="testAvatar.png">
              <p class="name">{{conversation.author.displayName}}</p>
              <p class="last-message">{{conversation.body}}</p>
              <p class="last-message-time">{{new Date(conversation.createdAt).toGMTString()}}</p>
        </li>
        </ul>
        <ul v-else>
          <li v-for="user in foundedUsers" :key="user.id">
              <img class="avatar" width="30" height="30" :alt="user.displayName" src="testAvatar.png">
              <p class="name">{{user.displayName}}</p>
              <b-button  v-b-modal.msgToNewFriend size="sm" variant="success" >Add</b-button>
              <!-- Modal Component -->
              <b-modal id="msgToNewFriend" 
                      title="Enter your message to new contact"
                      @ok="makeDialog(user.id)"
                      @shown="clearMsg">
                  <b-form-input type="text"
                      placeholder="Enter your message"
                      v-model="msgToSendNewUser"
                 ></b-form-input>
              </b-modal>
          </li>
        </ul>
    </div>
</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import _ from "lodash";
export default {
  methods: {
    ...mapActions({
      selectConversation: "chat/selectConversation"
    }),
    setSearchQuery(e) {
      this.searchField = e.target.value;
    },
    clearMsg() {
      this.msgToSendNewUser = "";
    },
    async searchRequest(query) {
      if (this.searchField !== "") {
        const foundedUsers= await this.$store.dispatch("chat/findUser", this.searchField );
         // if (foundedUsers.length!==0) {
            this.foundedUsers=foundedUsers
         // }       
      }
    },
    async makeDialog(userId) {
      await this.$store.dispatch("chat/makeDialog", {
        recipientId:userId,
        message: this.msgToSendNewUser
      });
      this.searchField = "";
      this.foundedUser = [];
    }
  },
  watch: {
    searchField: _.debounce(function() {
      this.searchRequest();
    }, 300)
  },
  data() {
    return {
      searchField: "",
      foundedUsers: [],
      msgToSendNewUser: ""
    };
  },
  computed: mapGetters({
    getConvsList: "chat/getConvsList",
    getCurSelectedChat: "chat/getCurSelectedChat"
  })
};
</script>

<style scoped>
.card {
  padding: 12px;
  border-bottom: solid 1px #24272c;
  background-color: dimgray;
}
.card footer {
  margin-top: 10px;
}
.card .avatar,
.card .name {
  vertical-align: middle;
}
.card .avatar {
  border-radius: 2px;
}
.card .name {
  display: inline-block;
  margin: 0 0 0 15px;
  font-size: 16px;
}
.card .search {
  padding: 0 10px;
  width: 100%;
  font-size: 12px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  border: solid 1px #3a3a3a;
  border-radius: 4px;
  outline: none;
  background-color: #26292e;
}

.conversations-list ul {
  padding: 0px;
}
.conversations-list li {
  padding: 12px 15px;
  border-bottom: 1px solid #292c33;
  cursor: pointer;
  transition: background-color 0.1s;
  list-style-type: none;
}
.conversations-list li:hover {
  background-color: rgba(255, 255, 255, 0.03);
}
.conversations-list li.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.conversations-list .avatar,
.conversations-list .name {
  vertical-align: middle;
}
.conversations-list .avatar {
  border-radius: 2px;
}
.conversations-list .name {
  display: inline-block;
  margin: 0 0 0 15px;
}
p.last-message {
  font-size: 10px;
  margin-top: 15px;
}
p.last-message-time{
font-size: 11px;
}
</style>
