<template>
<div class="text">
    <textarea placeholder="Ctrl + Enter to send" v-model="msgToSend"  @keyup="onKeyup"></textarea>
</div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: mapGetters({
    getCurSelectedChat: "chat/getCurSelectedChat"
  }),
  data() {
    return {
      msgToSend: ""
    };
  },
  methods: {
    onKeyup(e) {
      if (e.ctrlKey && e.keyCode === 13 && this.msgToSend.length) {
        this.sendMessage(this.msgToSend);
        this.msgToSend = "";
      }
    },
    sendMessage(message) {
      this.$store.dispatch("chat/sendMessage",  message );
    }
  }
};
</script>

<style scoped>
.text {
  height: 160px;
  border-top: solid 1px #ddd;
}
.text textarea {
  padding: 10px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-family: "Micrsofot Yahei";
  resize: none;
}
</style>