<template>
  <div class="container">
    <h1 v-if="error.statusCode === 404">Ну ты понял. 404</h1>
    <div v-else>
         <h1 >An error occurred: </h1>
         <h1 >Message: {{error.message}}</h1>
         <h1 >Code: {{error.statusCode}}</h1>
    </div> 
    <nuxt-link to="/">Home page</nuxt-link>
  </div>
</template>

<script>
export default {
  props: ['error'],
 // layout: 'blog' // you can set a custom layout for the error page //хз что это
}
</script>