<template>
   <div class="chat-settings">
      <fa id="settings-icon" icon="bars" v-b-modal.conversationInfo /><!--for debug conversationInfo -->
      <!-- Modal Component -->
      <b-modal id="conversationInfo" 
         ref="conversationInfo"
         title="Chat settings"                          
         @show="loadConvInfo"  
         centered
         ok-only            
         >
         <div class="loading" v-if="loading">
            <fa icon="spinner" style="font-size: 20px"/>
         </div>
         <div class="conversation-info" v-if="convInfo">
            <span>Title: {{convInfo.title}}</span>
            <span>Created: {{new Date(convInfo.createdAt).toGMTString()}}</span>   
           <strong>Participants:</strong>
            <table border="0" v-for="(participant) of convInfo.participants"
                    :key="participant.id">
                 <tr>  
                            <td style="width:50px" >{{ participant.displayName.length>13 ? participant.displayName.split('').splice(0,10).join('')+"...":participant.displayName }}</td>
                            <td style="width:30px"   v-if="participant.id===convInfo.master.id"><fa icon="star" style="color:gold "  /></td>
                            <td style="width:30px" v-else>
                                    <fa id="delete-user-icon" icon="user-minus"
                                            class="delete-user-btn"
                                            v-if="isDeletableUser(participant.id)"
                                            @click="deleteUser(convInfo.id,participant)"            
                                    />
                            </td> 
                            <td>
                                <fa icon="circle" :style="{ color: getCurConvOnlineUsers.indexOf(participant.id)!==-1?'green':'red'}" /> 
                            </td>
                    
                 </tr>
           </table>
         </div>
      </b-modal>
   </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      convInfo: null, //storage for data that will be fetched with "loadConvInfo" method
      loading: false,
      searchFriendQuery: "", //email that will used for new user adding
      foundedUsers: []
    };
  },
  methods: {
    async loadConvInfo() {
      this.loading = true;
      const { conversation: convInfo } = await this.$store.dispatch(
        "chat/getConvInfo",
        {
          convId: this.$store.getters["chat/getCurSelectedChat"]
        }
      );
      this.convInfo = convInfo;
      this.loading = false;
    },
    isDeletableUser(id) {
      if (
        this.convInfo.master.id ===
          this.$store.getters["chat/getCurAuthUser"].id && //if this user is master of this chat
        id !== this.convInfo.master.id //and we cant delete ourself
      ) {
        return true;
      }
      return false;
    },
    async deleteUser(convId, participant) {
      this.$refs.conversationInfo.hide();

      await this.$store.dispatch("chat/deleteUserFromConv", {
        convId,
        participant
      });
    },
    async findUser() {
      const foundedUsers = await this.$store.dispatch(
        "chat/findUser",
        this.searchFriendQuery
      );
      this.foundedUsers = foundedUsers;
    },
  },
  computed: {
    ...mapGetters({
      getCurAuthUser: "chat/getCurAuthUser",
      getCurConvOnlineUsers:"chat/getCurConvOnlineUsers"
    })
  }
};
</script>

<style scoped>
.conversation-info {
  float: left;
  display: inline-grid;
  text-align: left;
}
.add-user-btn {
  width: 40px;
}
.delete-user-btn {
  color: crimson;
}
#settings-icon,
#delete-user-icon {
  font-size: 20px;
  cursor: pointer;
}
</style>
