<template>
  <div class="chat-container">
    <div class="heading">
      <h1>Nuxt SSR test chat app. You're: <strong>{{this.getCurAuthUser.displayName}}</strong>     
      </h1>  
      <chat-settings v-if="getCurSelectedChat"></chat-settings>    
    </div>
    <div class="body">
      <friend-list></friend-list>
      <div class="right-body" v-if="getCurSelectedChat">
        <div class="table">
          <chat-log></chat-log>
          <message-input></message-input>
        </div>
      </div>
      <div v-else>
          <p>Select a chat to start conversation</p>
      </div>      
    </div>
    
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import FriendList from "@/components/FriendList";
import ChatLog from "@/components/ChatLog";
import MessageInput from "@/components/MessageInput";
import ChatSettings from "@/components/ChatSettings";

export default {
  name: "chat-container",
  components: {
    FriendList,
    ChatLog,
    MessageInput,
    ChatSettings
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      getCurSelectedChat: "chat/getCurSelectedChat",
      getCurAuthUser: "chat/getCurAuthUser"
    })
  }
};
</script>

<style scoped>
h1 {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.chat-container {
  display: table;
  max-width: 750px;
  min-width: 300px;
  width: 100%;
  height: 550px;
  margin: auto;
  background-color: #ffffff;
  border: solid 1px #bfbfbf;
  border-radius: 3px;
}

.heading {
  display: table;
  width: 100%;
  height: 28px;
  text-align: center;
  background-color: #cdcdcd;
  border-radius: 3px 3px 0 0;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(#ededed 0%, #cdcdcd 75%);
}

.body {
  display: block;
  height: inherit;
}

.right-body {
  display: block;
  width: auto;
  height: inherit;
  overflow: hidden;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}
</style>
