<template>
  <div
    class="friend-list-item"
    :class="selected"
    @click="selectConversation(conversationId)">
    <img :src="avatar" />
    <div class="text">
      <span class="name">{{ convTitle }}</span>
      <span class="lastMessage">{{ lastMessage }}</span>
      <span class="lastMsgTime">{{lastMsgTime?new Date(lastMsgTime).toGMTString():''}}</span>
    </div>   
  </div>  
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import defaultProfileImg from "@/static/profile.png";

export default {
  name: "friend-list-item",
  props: {
    conversationId: "",
    convTitle: "",
    avatar: {
      default: defaultProfileImg
    },
    lastMessage: "",
    lastMsgTime: ""
  },
  data() {
    return {};
  },
  methods: {
    ...mapActions({
      selectConversation: "chat/selectConversation"
    })
  },
  computed: {
    ...mapGetters({
      getCurSelectedChat: "chat/getCurSelectedChat"
    }),
    selected() {
      return this.getCurSelectedChat === this.conversationId ? "selected" : "";
    }
  }
};
</script>

<style scoped>
.friend-list-item {
  width: 100%;
  height: 70px;
  padding: 5%;
  box-sizing: border-box;
  border-bottom: solid 1px #cdcdcd;
  background: linear-gradient(141deg, #505d74 0%, #15223a 75%);
  cursor: pointer;
}

.selected {
  background: #717c8f;
}

.friend-list-item img {
  border-radius: 50%;
  height: 100%;
  margin-right: 5%;
  float: left;
}

.friend-list-item span {
  display: block;
  color: #ffffff;
  text-align: left;
}

.text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

span.name {
  font-weight: bold;
  font-size: 16px;
}

span.lastMessage {
  color: #cfcfcf;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
span.lastMsgTime {
  color: #585050;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
