<template>
  <div class="friend-list">
    <div class="new-chat">    
      <div class="name-input" >
        <input v-model="searchFriendQuery" type="text" placeholder="search user...">        
      </div>
    </div>    
     <ul v-if="searchFriendQuery.length!=0">      
          <li v-for="user in foundedUsers" :key="user.id">
              <img class="avatar" width="30" height="30" :alt="user.displayName" src="profile.png">
              <p class="founded-username">{{user.displayName}}</p>
              <b-button  v-b-modal.msgToNewFriend size="sm" variant="success" >Add</b-button>
              <!-- Modal Component -->
              <b-modal id="msgToNewFriend" 
                      title="New conversation"
                      @ok="processAddUser(user)"
              >
                  <input type="checkbox"
                                   v-model="addToNewConvFlag"            
                  >
                  <label for="checkbox">Add to new conv</label>
                  <div class="new-conv-params" v-if="addToNewConvFlag" >
                       <b-form-input type="text"
                              placeholder="Enter conversation title"
                              v-model="newConvTitle"
                        ></b-form-input>
                          <b-form-input type="text"
                              placeholder="Enter your message"
                              v-model="msgToSendNewUser"
                        ></b-form-input>  
                  </div>
                  <div class="add-to-existing-conv-params" v-else>
                      <b-form-select  
                                 v-model="selectedConv"
                                 :options="getConvsTitle()" class="mb-3" 
                       />  
                  </div>                        
                    
              </b-modal>
          </li>
        </ul>
    <friend-list-item v-else
      v-for="(conversation) of getConvsList"
      :key="conversation.id"     
      :conversationId="conversation.id"
      :convTitle="conversation.title"
      :lastMessage="getCurAuthUser.id===conversation.lastMsg.author.id?'You: '+conversation.lastMsg.body:conversation.lastMsg.body"
      :lastMsgTime="conversation.lastMsg.createdAt"
       avatar="profile.png"
    ></friend-list-item>
     
  </div>
</template>

<script>
import _ from "lodash";
import { mapActions, mapGetters } from "vuex";

import FriendListItem from "@/components/FriendListItem";

export default {
  name: "friend-list",
  components: {
    FriendListItem
  },
  data() {
    return {
      searchFriendQuery: "",
      foundedUsers: [],
      msgToSendNewUser: "", //message that will appear before adding to friend
      newConvTitle: "", //title of created conv
      selectedConv: null, //Store existing conv to which new user will be added
      addToNewConvFlag: true
    };
  },
  //if search field changed call search
  watch: {
    searchFriendQuery: _.debounce(function() {
      this.searchRequest();
    }, 300)
  },
  methods: {
    async searchRequest(query) {
      if (this.searchFriendQuery !== "") {
        this.foundedUsers = [];
        const foundedUsers = await this.$store.dispatch(
          "chat/findUser",
          this.searchFriendQuery
        );
        this.foundedUsers = foundedUsers;
      }
    },
    async processAddUser(user) {
      if (this.addToNewConvFlag) {
        await this.makeDialog(user.id);
      } else {
        await this.addUserToConv(user, this.selectedConv);
      }
    },
    async makeDialog(userId) {
      await this.$store.dispatch("chat/makeDialog", {
        recipientId: userId,
        message: this.msgToSendNewUser,
        title: this.newConvTitle
      });

      this.searchFriendQuery = "";
      this.foundedUsers = [];
      this.msgToSendNewUser = "";
    },
    async addUserToConv(user, selectedConv) {     
      await this.$store.dispatch("chat/addUserToConv", {
        convId:selectedConv,
        user,
      });
      this.selectedConv = null;
      this.addToNewConvFlag = true;
      this.searchFriendQuery = "";
      this.foundedUsers = [];
    },
    getConvsTitle() {
      const convs = this.$store.state.chat.conversations.map(conv => {
        return { value: conv.id, text: conv.title };
      });
      convs.unshift({
        value: null,
        text: "Select existing conversation",
        disabled: true
      }); //add description to selection
      return convs;
    }
  },
  computed: {
    ...mapGetters({
      getConvsList: "chat/getConvsList",
      getCurSelectedChat: "chat/getCurSelectedChat",
      getCurAuthUser: "chat/getCurAuthUser"
    })
  }
};
</script>

<style scoped>
.founded-username {
  color: gainsboro;
}
.friend-list::-webkit-scrollbar {
  display: none;
}

.friend-list {
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: block;
  width: 250px;
  height: 100%;
  background: linear-gradient(141deg, #505d74 0%, #15223a 75%);
  float: left;
  overflow-y: scroll;
  border-radius: 0 0 0 3px;
}

.new-chat {
  display: block;
  width: 100%;
  height: 28px;
  background-color: #39465b;
}

.name-input {
  display: inline-block;
  height: 100%;
  float: left;
}

.name-input input {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 180px;
  outline: none;
  font-size: 12px;
  border: solid 1px #aaaaaa;
  border-radius: 3px;
  font-family: Helvetica;
}

.add-one-one {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  -ms-user-select: none;
  user-select: none;
  width: 20px;
  height: 20px;
  margin: 0 6px;
  line-height: 20px;
  font-size: 20px;
  font-family: Arial;
  color: #ffffff;
  background-color: #15223a;
  cursor: pointer;
}
</style>
