<template>
  <div class="message-input">
  <EmojiPicker></EmojiPicker>
   <textarea
      class="regular-input" 
      ref="messageInput"
      v-model="inputMsg"
      placeholder="message..."
      maxlength="500"
      @keyup.enter="submitMessage"    
    ></textarea> 
  </div> 
</template>

<script>
import EmojiPicker from "@/components/EmojiPicker";
export default {
  name: "message-input",
  components: {
    EmojiPicker
  },
  created() {
    this.$nuxt.$on("emoji-pick-event", emoji => {
      this.inputMsg += emoji;
    });
    //focus to input when page reloaded //TODO works, but there are a lot of warn in console
    // this.$nextTick(() => {
    //   this.$refs.messageInput.focus();
    // });
  },
  beforeDestroy() {
    // $off method will turned off the event listner
    this.$nuxt.$off("emoji-pick-event");
  },
  data() {
    return {
      inputMsg: ""
    };
  },
  methods: {
    submitMessage(event) {
      // If the message body is empty, do not submit
      const msg = this.inputMsg;
      if (!msg.length) {
        return;
      }

      this.$store.dispatch("chat/sendMessage", msg);

      // Reset the text input
      this.inputMsg = "";
    }
  }
};
</script>

<style scoped>
.message-input {
  display: table-row;
  width: 100%;
  height: 26px;
}

textarea {
  float: right;
  width: 93%;
  height: 28px;
  padding: 0 5px;
  margin: 0;
  box-sizing: border-box;
  line-height: 20pt;
  resize: none;
  outline: none;
  font-size: 14px;
  border: solid 1px #aaaaaa;
  border-radius: 3px;
  font-family: Helvetica;
}
</style>
