<template>
  <div
    class="message-bubble"
    :class="isMe"
  >
  <span
    class="time"
   >{{ new Date(createdAt).toGMTString()}}</span>
    <span
      class="from"    
    >{{ author.displayName }}</span>
    <span
      class="message-text"
    >{{ body }}</span>

  </div>
</template>

<script>
export default {
  name: "message-bubble",
  props: ["createdAt", "body", "author"],
  computed: {
    // check message was sent by me or not. by this message side will be desided
    isMe() {
      let result = false;
      if (this.$store.state.authUser.id === this.author.id) {
        result = true;
      }

      return result ? "me" : "";
    }
  },
  data() {
    return {};
  },
};
</script>

<style scoped>
.message-bubble {
  display: block;
  max-width: 50%;
  margin-bottom: 4px;
  float: left;
  clear: both;
  word-wrap: break-word;
  width: 400px;
}

.message-text {
  padding: 8px;
  margin: 4px;
  text-align: left;
  background-color: #dfdfdf;
  border-radius: 4px;
}

.message-bubble.me {
  float: right;
}

.message-bubble.me .message-text {
  background-color: #c6c6c6;
}

.from,
.time {
  float: left;
  margin: 4px;
  font-size: 10px;
  color: #9da7af;
}

.message-bubble span {
  display: block;
}

span.display-none,
br.display-none,
.message-bubble.me .from,
br.me {
  display: none;
}
</style>
