<template>
<div id='navbar'>
 <b-navbar toggleable="md" type="dark" variant="info">
  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
  <b-navbar-brand to="/">{{brand}}</b-navbar-brand>
  <b-collapse is-nav id="nav_collapse">

    <b-navbar-nav>
      <b-nav-item to="/chat">Chat</b-nav-item>
      <b-nav-item disabled>Rendered on {{renderedOn}}</b-nav-item>
    </b-navbar-nav>
    
    <!-- Right aligned nav items -->
    <b-navbar-nav v-if="!$store.state.authUser" class="ml-auto">
      <b-nav-item-dropdown right>
        <!-- Using button-content slot -->
        <template  slot="button-content" >  
          <em>Guest User</em>
        </template>
        <nuxt-link to="/singup">Singup</nuxt-link>
        <nuxt-link to="/login">Login</nuxt-link>     
      </b-nav-item-dropdown>
    </b-navbar-nav>
    <b-navbar-nav v-else class="ml-auto">
      <b-nav-item-dropdown right>
        <!-- Using button-content slot -->
        <template  slot="button-content" >  
          <em> {{ $store.state.authUser.displayName }}</em>
        </template>
        <nuxt-link to="/settings">Settings(TODO)</nuxt-link>
        <a href='#' @click="logout">Logout</a> 
      </b-nav-item-dropdown>
    </b-navbar-nav>
  </b-collapse>
</b-navbar>
</div>
      
</template>
<script>
export default {
  data() {
    return {
      renderedOn: process.static
        ? "static"
        : process.server ? "server" : "client",
      brand: "qq"
    };
  },
  methods: {
    async logout() {
      try {
        await this.$store.dispatch("logout");
      } catch (e) {
        console.log("logout err", e);
      }
    }
  }
};
</script>
<style>
.dropdown-menu.show {
  display: grid;
}
</style>

